/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "../../../node_modules/video-react/styles/scss/video-react";
 @import "./index.scss";
 @import "./show.scss";


 .video-container {
     width: 50vw;
     padding: .1rem;
     margin: 1rem;
 }

 

 .header {
     color: white;
     font-size: xx-large;
     display: flex;
     justify-content: center;
     background-image: url('http://www.jemome.com/cdn/2009/02/american-flag-facebook-banner_2573877.jpg');
     background-size: cover;
     padding: .5rem;
     width: 100%;
     & > h1 {
        background: darkred;
        padding: .5rem;
        margin: 2rem;
        border-radius: 5px;
        width: fit-content;
        text-align: center;
     }
 }


 .advertisement {
     position: absolute;
     left: 6rem;
     top: 50%;
     background: skyblue;
     color: black;
     padding: 2rem;
     width: 10rem;
     height: 10rem;
     margin: 1rem;
     border-radius: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
     &.hidden {
         width: 0;
         padding: 0;
     }
 }

 .ad-content {
     padding: 2rem;
     color: black;
     font-family: Arial, Helvetica, sans-serif;
     &.hidden {
         visibility: hidden;
     }
 }

 .donation {
     position: fixed;
     right: 6rem;
     padding: 2rem;
     width: 10rem;
     height: fit-content;
     margin: 1rem;
     top: 30vh;
     border-radius: 5px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border-radius: 5px;
     background: lightgray;
     & > p {
        font-weight: 800;
     }
 }

 .show-hide-toggle {
     visibility: visible;
     position: absolute;
     right: -2.5rem;
     padding: 1rem;
     font-size: larger;
     &:hover {
         cursor: pointer;
     }
 }

