/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "../../../node_modules/video-react/styles/scss/video-react";


 .video-container {
     width: 50vw;
     padding: .1rem;
     margin: 1rem;
 }

 .video-show-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .header {
     color: white;
     font-size: xx-large;
     display: flex;
     justify-content: center;
     background-image: url('http://www.jemome.com/cdn/2009/02/american-flag-facebook-banner_2573877.jpg');
     background-size: cover;
     padding: .5rem;
     width: 100%;
     & > h1 {
        background: darkred;
        padding: .5rem;
        margin: 2rem;
        border-radius: 5px;
        width: fit-content;
        text-align: center;
     }
 }


 .advertisement {
     position: fixed;
     left: 6rem;
     background: skyblue;
     border: 1px dashed black;
     padding: 2rem;
     width: 10rem;
     height: 10rem;
     margin: 1rem;
     border-radius: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .donation {
     position: fixed;
     right: 6rem;
     padding: 2rem;
     width: 10rem;
     height: 10rem;
     margin: 1rem;
     border-radius: 5px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }