.videos-index {
    display: flex;
    flex-direction: column;
}

.video-thumbnail {
    height: 20rem;
}

.videos-gallery {
    display: flex;
    flex-wrap: wrap;
}

.video-index-card {
    margin: .5rem;
    padding: .5rem;
}