.session-form {
    width: 30rem;
    border-radius: 4px;
    background: white;
    padding: .2rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.session-field {
    padding: .5rem;
    font-size: medium;
}

.session-button {
    padding: .5rem;
    font-size: large;
    font-weight: bolder;
    border-radius: 4px;
    color: white;
    background: red;
}