.session-form {
    width: 30rem;
    border-radius: 4px;
    background: white;
    padding: .2rem;
}

.session-field {
    padding: .5rem;
    font-size: medium;
}

.session-button {
    padding: .5rem;
    font-size: large;
}