.session-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
}

.session-form-container {
    width: 30rem;
    border-radius: 4px;
    background: white;
    padding: .2rem;
    font-family: sans-serif;
    text-align: center;
    margin: 1rem;
}

.session-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.session-field {
    padding: .5rem;
    font-size: medium;
    // margin: .2rem;
}

.session-button {
    padding: .5rem;
    font-size: large;
    font-weight: bolder;
    border-radius: 4px;
    color: white;
    background: darkred;
    &:hover {
        cursor: pointer;
        background:rgb(170, 16, 16);
        color:(lightgray);
        transition: all .2s;
    }
}
